body{
    background-image:url("new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.DCH{
   text-align: left;
   margin-left: 200PX;
   color:white;
   margin-top: 110PX;
   font-size: 100px;
   margin-left: 2px;
}
.tc{
background-color: gray;
border: 0;
border-radius: 3px;
}
.lm{
    border-radius: 4px; 
background-color: transparent;
border-color: white;
}



